<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="OpenCVPath" value="D:\Work\Libs\EMGU240x86\bin\x86"/>
  </appSettings>  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
